/* HEADER */
.header{
    /* display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; */
        height: auto;
        background-image: linear-gradient(to top, #02538b , rgb(12, 32, 97));

    }

    .navLogo{

        height: 75px;
        width: 100px;
        margin: 40px 20px 20px 20px;
    }

.navLista{
    display:flex;
    height: auto;
    margin: 15px;

}

.lista{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: stretch;
    padding-left: 0px;
}

.lista li{
        
    color: rgb(255, 255, 255);
    border: solid 3px rgba(3, 3, 3, 0.541);
    border-radius:10px;
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    transition: 2s;
}
.lista li:hover{
    background-color: #cfc032;
    transform: scale(1.5,1.5);
}

.lista li a{
    text-decoration: none;
    color: rgb(208, 255, 239);
}
/* MAIN */
    .main{
        display: flex;
        flex-direction: column;
        color: azure;
        background-color: rgb(0, 0, 0);
        align-items: center;
        justify-content: space-around;
        }

/* FOOTEr */

.footer{
    background-color:rgba(20, 19, 19, 0.959);
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    height: 200px;
    background-image: linear-gradient(to bottom, #000000 , rgb(41, 41, 41));
    }   


.textoFooter{
    font-size: 16px;

    color: rgb(255, 214, 168);
}
